[Unit]
Description=Wallpaper daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/wallpaper-daemon.sh
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=HOME=%h
User=ultrxioletx

[Install]
WantedBy=multi-user.target