[Unit]
Description=Change wallpaper
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=oneshot

Environment="DISPLAY=:0"
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="HYPRLAND_INSTANCE_SIGNATURE=%t/hypr"
ExecStart=/home/ultrxvioletx/.config/hypr/scripts/wallpaper.sh

[Install]
WantedBy=default.target