# =========================================================================
# === .gitignore para dotfiles en mi directorio home
# =========================================================================

# Ignorar todo por defecto.
*

# No ignorar este mismo archivo .gitignore
!.gitignore
# No ignorar los archivos de configuración
!.zshrc
# No ignorar imagenes
!*.jpg
!*.png

# Manejo especial para la carpeta .config
!.config/
# ignoramos todo lo que hay dentro de .config por defecto
.config/*
# incluimos explícitamente solo ciertas sub-carpetas
!.config/fastfetch/
!.config/fastfetch/**
!.config/gtk-3.0/
!.config/gtk-3.0/**
!.config/hypr/
!.config/hypr/**
!.config/hyprpanel/
!.config/hyprpanel/**
!.config/kitty/
!.config/kitty/**
# !.config/nvim/
!.config/ranger/
!.config/ranger/**
# !.config/rofi/
!.config/spicefy/
!.config/spicefy/**
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/wallpaper.service
!.config/wlogout/
!.config/wlogout/**
!.config/xsettingsd/
!.config/xsettingsd/**
!.config/yazi/
!.config/yazi/**

# ignorar cache de python y compilados
**/__pycache__/
*.pyc
